name: flutter-ci

on:
  push:
    branches:
      - main
    paths:
      - lib/**
      - test/**
      - pubspec.yaml
      - pubspec.lock
      - analysis_options.yaml
      - .github/workflows/ci.yaml
  pull_request:
    branches:
      - main
    paths:
      - lib/**
      - test/**
      - pubspec.yaml
      - pubspec.lock
      - analysis_options.yaml
      - .github/workflows/ci.yaml

permissions:
  contents: read

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: "3.38.6"
          channel: "stable"
          cache: true

      - name: Install dependencies
        run: flutter pub get

      - name: Analyze
        run: flutter analyze

      - name: Run tests
        run: flutter test
